.giving-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 1.5rem;
}

.giving-content {
    text-align: center;
}

.giving-img {
    width: 100px;
    transition: 0.3s;
}

.giving-title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-25);
}

.giving-description {
    font-size: var(--small-font-size);
}

.giving-img:hover {
    transform: translateY(-0.25rem);
}
