/* BASE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    margin: var(--header-height) 0 0 0;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: 0.4s;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

/* REUSEABLE */

.container {
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}

.main {
    overflow: hidden;
}

.section {
    padding: 4.5rem 0 1rem;
}

.section-title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2-5);
    text-align: center;
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: 1.15rem 2.75rem;
    font-weight: var(--font-medium);
    border-radius: 3rem;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--first-color-alt);
}

::-webkit-scrollbar {
    width: 0.6rem;
    background: hsl(255, 8%, 44%);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background: hsl(255, 32%, 17%);
    border-radius: 1rem;
}

.nav-btns {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.change-theme {
    color: var(--title-color);
    font-size: 1.25rem;
    cursor: pointer;
}

body.dark-theme {
    --title-color: hsl(355, 4%, 95%);
    --text-color: hsl(355, 4%, 75%);
    --body-color: hsl(355, 20%, 12%);
    --container-color: hsl(355, 16%, 16%);
}

.dark-theme .scroll-header,
.dark-theme .nav-menu {
    box-shadow: 0 2px 4px hsla(0, 0%, 4%, 0.3);
}

.dark-theme .message-container {
    background-color: var(--container-color);
}

.dark-theme .message-input {
    background-color: var(--body-color);
}

.dark-theme .message-button {
    background-color: var(--first-color);
}

.dark-theme .message-button:hover {
    background-color: var(--first-color-alt);
}

.dark-theme::-webkit-scrollbar {
    background: hsl(355, 8%, 30%);
}
