@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@import url(var.css);
@import url(global.css);
@import url(header.css);
@import url(home.css);
@import url(giving.css);
@import url(celebrate.css);
@import url(gift.css);
@import url(new.css);
@import url(message.css);
@import url(footer.css);
@import url(breakpoints.css);
